extends layout

block content
  div(class='container-fixed')
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="listen", class="btn btn-block btn-lg btn-danger") Listen
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="sayHi", class="btn btn-block btn-lg btn-success") Say Hi
      div(class='col-xs-6')
        a(href="#", id="playMusic", class="btn btn-block btn-lg btn-primary") Play Music
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="activateMusic", class="btn btn-block btn-lg btn-success") Activate Music
      div(class='col-xs-6')
        a(href="#", id="stopMusic", class="btn btn-block btn-lg btn-primary") Stop Music
    div(class='row')
      div(class='col-xs-6')
        a(href="#", id="blockFacebook", class="btn btn-block btn-lg btn-success") Block Facebook
      div(class='col-xs-6')
        a(href="#", id="blockTwitter", class="btn btn-block btn-lg btn-primary") Block Twitter
    div(class='row')
      div(class='col-xs-6')
        a(href="#", id="lightsOn", class="btn btn-block btn-lg btn-success") Lights On
      div(class='col-xs-6')
        a(href="#", id="lightsOff", class="btn btn-block btn-lg btn-primary") Lights Off
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="takePicture", class="btn btn-block btn-lg btn-success") Take Picture
      div(class='col-xs-6')
        a(href="#", id="sayBye", class="btn btn-block btn-lg btn-primary") Say Bye
      
    
    
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="idle", class="btn btn-block btn-lg btn-success") Idle
      div(class='col-xs-6')
        a(href="#", id="stopIdle", class="btn btn-block btn-lg btn-primary") Stop Idle
    

block javascript
  script(src='/js/global.js')