extends layout

block content
  div(class='container-fixed')
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="listen", class="btn btn-block btn-lg btn-danger") Listen
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="sayHi", class="btn btn-block btn-lg btn-success") Say Hi
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="sayBye", class="btn btn-block btn-lg btn-primary") Say Bye
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="takePicture", class="btn btn-block btn-lg btn-danger") Take Picture
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="startBle", class="btn btn-block btn-lg btn-success") Start BLE
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="showExpressions", class="btn btn-block btn-lg btn-primary") Show Expressions
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="move", class="btn btn-block btn-lg btn-danger") Random Move
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="playMusic", class="btn btn-block btn-lg btn-success") Play Music
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="activateMusic", class="btn btn-block btn-lg btn-primary") Activate Music
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="idle", class="btn btn-block btn-lg btn-danger") Idle
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="stopIdle", class="btn btn-block btn-lg btn-success") Stop Idle
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveCurious", class="btn btn-block btn-lg btn-success") Move Curious
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveHappy", class="btn btn-block btn-lg btn-success") Move Happy
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveSad", class="btn btn-block btn-lg btn-success") Move Sad
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveNo", class="btn btn-block btn-lg btn-success") Move No
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveAlert", class="btn btn-block btn-lg btn-success") Move Alert
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="moveReset", class="btn btn-block btn-lg btn-success") Move Reset
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="ledFade", class="btn btn-block btn-lg btn-success") Led Fade
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="ledAlert", class="btn btn-block btn-lg btn-success") Led Alert
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="ledError", class="btn btn-block btn-lg btn-success") Led Error
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="ledIdle", class="btn btn-block btn-lg btn-success") Led Idle

block javascript
  script(src='/js/global.js')