extends layout

block content
  div(class='container-fixed')
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="", class="btn btn-block btn-lg btn-danger") Listen
    div(class='row')
      div(class='col-xs-4 col-sm-4 col-md-4')
        a(href="#", id="", class="btn btn-block btn-success btn-lg") Hello 
      div(class='col-xs-4 col-sm-4 col-md-4')
        a(href="#", id="", class="btn btn-block btn-primary btn-lg") Hello
      div(class='col-xs-4 col-sm-4 col-md-4')
        a(href="#", id="", class="btn btn-block btn-danger btn-lg") Hello
