extends layout

block content
  div(class='container-fixed')
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="tickle", class="btn btn-block btn-lg btn-danger") Tickle
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="tickle-reset", class="btn btn-block btn-lg btn-success") Tickle Reset
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="purpose", class="btn btn-block btn-lg btn-primary") Purpose
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="omg", class="btn btn-block btn-lg btn-danger") OMG
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="gifJif", class="btn btn-block btn-lg btn-danger") GIF JIF
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="cameraOn", class="btn btn-block btn-lg btn-success") Camera On
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="cameraOff", class="btn btn-block btn-lg btn-primary") Camera Off
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="actMusic", class="btn btn-block btn-lg btn-danger") Activate Music
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="playBeatles", class="btn btn-block btn-lg btn-danger") Play Music
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="playRock", class="btn btn-block btn-lg btn-success") Metallica
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="blockReddit", class="btn btn-block btn-lg btn-primary") Block Reddit
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="sayNo", class="btn btn-block btn-lg btn-danger") NO
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="byebye", class="btn btn-block btn-lg btn-danger") BYE
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="sleepy", class="btn btn-block btn-lg btn-danger") SLEEP
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="wakey", class="btn btn-block btn-lg btn-danger") WAKE
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="offLights", class="btn btn-block btn-lg btn-danger") LIGHTS OFF
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="onLights", class="btn btn-block btn-lg btn-danger") LIGHTS ON
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="lightsOff", class="btn btn-block btn-lg btn-success") Lights OFF
      div(class='col-xs-6')
        a(href="#", id="wakeUp", class="btn btn-block btn-lg btn-primary") Wake Up 
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="sayHi", class="btn btn-block btn-lg btn-success") Say Hi
      div(class='col-xs-6')
        a(href="#", id="sayBye", class="btn btn-block btn-lg btn-primary") Say Bye
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="sayYes", class="btn btn-block btn-lg btn-success") Say YES
      div(class='col-xs-6')
        a(href="#", id="idle", class="btn btn-block btn-lg btn-primary") Say No

    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="showDance", class="btn btn-block btn-lg btn-success") Show Dance
      div(class='col-xs-6')
        a(href="#", id="showExpression", class="btn btn-block btn-lg btn-primary") Show Expression
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="activateMusic", class="btn btn-block btn-lg btn-success") Activate Music
      div(class='col-xs-6')
        a(href="#", id="deactivateMusic", class="btn btn-block btn-lg btn-primary") Deactivate Music
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="playMusic", class="btn btn-block btn-lg btn-success") Play Music
      div(class='col-xs-6')
        a(href="#", id="stopMusic", class="btn btn-block btn-lg btn-primary") Stop Music
    div(class='row')
      div(class='col-xs-6')
        a(href="#", id="blockFacebook", class="btn btn-block btn-lg btn-success") Block Facebook
      div(class='col-xs-6')
        a(href="#", id="blockTwitter", class="btn btn-block btn-lg btn-primary") Block Twitter
    div(class='row')
      div(class='col-xs-6')
        a(href="#", id="unblockFacebook", class="btn btn-block btn-lg btn-success") Unblock Facebook
      div(class='col-xs-6')
        a(href="#", id="unblockTwitter", class="btn btn-block btn-lg btn-primary") Unblock Twitter
    div(class='row')
      div(class='col-xs-6')
        a(href="#", id="lightsOn", class="btn btn-block btn-lg btn-success") Lights On
      div(class='col-xs-6')
        a(href="#", id="lightsOff", class="btn btn-block btn-lg btn-primary") Lights Off
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="takePicture", class="btn btn-block btn-lg btn-success") Take Picture
    div(class="row")
      div(class='col-xs-6')
        a(href="#", id="blinkLed", class="btn btn-block btn-lg btn-success") Blink Led
      div(class='col-xs-6')
        a(href="#", id="stopIdle", class="btn btn-block btn-lg btn-primary") I Love you
    div(class="row")
      div(class='col-xs-12')
        a(href="#", id="resetAll", class="btn btn-block btn-lg btn-danger") Reset All
    

block javascript
  script(src='/js/global.js')