doctype html
html
  head
    title Control Panel
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/jquery.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/global.js')