extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-xs-1')
      div(class='col-xs-10')
        div(id='listen')
          h1 Listen
      div(class='col-xs-1')