body, div {
	padding: 0;
	margin: 0;
}

video {
	-webkit-transform: rotateY(-180deg);
	tranform: rotateY(-180deg);
}

#eyes {
	width: 800px;
	height: 480px;
	background: white;
}

#gif {
	width: 800px;
	height: 480px;
}

#testWrapper, #gifWrapper, #eyeWrapper, #pictureWrapper, #cameraWrapper {
	display: none;
}

#wrapper {
	position: relative;
}

#glasses{
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
}

.wrapper {
	position: absolute;
	top:0;
	left: 0;
	height: 480px;
	width: 800px;
}

