html, body, div {
	padding: 0;
	margin: 0;
}

#camera, #selfie {
	-webkit-transform: rotateY(-180deg);
	tranform: rotateY(-180deg);
	width: 120%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#selfie{
	width: 800px;
	height: 480px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	display:none;
	position: absolute;
	top:0;
	left: 0;
	height: 480px;
	width: 800px;
	overflow: none;
}

#eyes {
	width: 100%;
	height: 100%;
	background: white;
}

#gifWrapper, #videoWrapper, #sleepWrapper {
	background: #000;
}

#video, #gif{
	width: 800px;
	height: 480px;
	object-fit: contain;
}

/*#gif {
	width: 800px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}*/

#glasses{
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
}



