html, body, div {
	padding: 0;
	margin: 0;
}

#camera, #selfie {
	-webkit-transform: rotateY(-180deg);
	tranform: rotateY(-180deg);
	width: 120%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#selfie{
	width: 800px;
	height: 480px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	display: none;
	position: absolute;
	top:0;
	left: 0;
	height: 480px;
	width: 800px;
	overflow: none;
}

#eyes {
	width: 100%;
	height: 100%;
	background: white;
}

#gifWrapper, #videoWrapper, #sleepWrapper, #pictureWrapper {
	background: #000;
}

#textWrapper {
	display: block;
}

.textOverlay {
	font-weight: bold;
	font-family: 'Helvetica','sans-serif';
	position: absolute;
	color: #fff;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	font-size: 60px;
	z-index:10000;
	top:50%;
	left:50%;
	text-align: center;
	transform: translate(-50%,-50%);
	pointer-events: none;
	text-transform: capitalize;
}

#video, #gif{
	width: 800px;
	height: 480px;
	object-fit: cover;
}

/*#gif {
	width: 800px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}*/

#glasses{
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;
}



